.divImage{
    height: 300px;
    width: 500px;
    object-fit: contain;
   
  }
  img{
    height: 100%;
    width: 100%;
  }
  .title-card{
    margin-top: -50px;
    color: white;
    font-size: 2rem;
  }