.div-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  width: 100vw;
}

.divImage {
  height: 300px;
  width: 500px;
}

img {
  height: 100%;
  width: 100%;
}

.title-card {
  margin-top: -50px;
  color: white;
  font-size: 2rem;
}
