header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-button,
.divBenvenuto {
  grid-column: 10 / 12;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divBenvenuto {
  flex-direction: column;
  align-items: start;
}
.divBenvenuto p {
  font-size: larger;
}
.divBenvenuto a {
  text-decoration: none;
}
.divBenvenuto strong {
  color: #d56b1a;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: x-large;
}
.divBenvenuto strong:hover {
  color: #ee9652;
  cursor: pointer;
}
.button {
  border-radius: 10px;
  background-color: #fff2cc;
  height: 50%;
  width: 100%;
  padding: 15px 40px;
  border: 1px solid #dfa67b;
  font-size: 1.2rem;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  background-color: #f4b183;
  color: #ffffff;
}

.div-logo {
  max-width: 100px;
  object-fit: contain;
  grid-column: 2 / 3;
}

.head {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 100px);
  width: 100%;
  padding: 10px;
}

.menu {
  display: flex;
  text-align: center;
}

.menu li {
  display: inline;
  width: 150px;
}

.menu a {
  color: black;
  text-decoration: none;
}
.menu-button {
  background-color: transparent;
  width: 70%;
  padding: 15px;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  transition: 0.2s ease-in-out;
}
.menu-button:hover {
  background-color: #fff2cc;
  cursor: pointer;
}
nav {
  margin-top: 10px;
  background-color: #ffd966;
  width: 100%;
  display: flex;
  justify-content: center;
}
