.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.login-form {
  background-color: #ffd966;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50%;
  gap: 50px;
  justify-content: center;
  border-radius: 5px;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.input-div input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #dfa67b;
  padding-left: 7px;
}
.input-div label {
  font-size: 1.5rem;
  margin-bottom: 7px;
  font-weight: 500;
}

.input-div input::placeholder {
  font-size: 1rem;
}
.input-div input:focus {
  outline: none !important;
  border: 2px solid #fa6c00;
}
.button-login {
  border-radius: 10px;
  background-color: #fff2cc;
  height: 100%;
  padding: 15px 40px;
  border: 1px solid #dfa67b;
  font-size: 1.2rem;
  font-weight: 600;
}
.button-login:hover {
  cursor: pointer;
  background-color: #f4b183;
  color: #ffffff;
}

.registration-link a {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fa6c00;
}

.registration-link a:hover{
  color: #ffc20b;
}

.registration-link {
  margin-top: 10px;
}