#inputName{
    height: 50px;
    border-radius: 10px;
    border: 2px solid #DFA67B;
    width: 100%;
    padding-left: 7px;
  }
  #inputName::placeholder{
    font-size: 1rem;
  }
  #inputName:focus{
    outline: none !important;
    border: 2px solid #fa6c00;
  }
  .searchbar{
    grid-column: 5 / 9;
    display: flex;
    align-items: center;
  }